/* overall structure */

.full-width {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 5%;
}

.white-background {
  background-color: white;
}


















/* menu */

.hamburger-menu {
  background-color: #dcd0c0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.menu {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: "Lora";
}

.closebtn {
  position: absolute;
  top: 3rem;
  right: 4rem;
  font-size: 4rem;
  text-decoration: none;
  color: #f4f4f4;
}


.hamburger-menu a:hover, .hamburger-menu a:focus {
  color: #373737;
}

@media screen and (max-height: 450px) {
  .hamburger-menu a {font-size: 20px}
  .hamburger-menu .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.menu-items {
  padding: 2rem;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-size: 3rem;
  color: #f4f4f4;
}

.menu ul{
  align-self: center;
  padding-left: 1.2rem;
}

.ul-social li {
  display: inline;
}

/* nav */




.nav {
  display: flex;
  margin: 0 auto;
  padding: 3rem 5%;
  max-width: 1500px;
}

.brand {
  flex: 1 1 0;
}

.page-nav {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  flex: 0 0 0;
  flex-wrap: wrap;
  color: #C0B283;
  font-size: 1.6rem;
  padding: 0 2rem;
  text-decoration: none;
}

.social {
  display: flex;
  flex: 1 1 0;
  justify-content: flex-end;
  padding-right: 1rem;
}

.social-item {
  flex: 0 0 0;
  color: #C0B283;
  font-size: 2rem;
  padding-right: 1.2rem;
}

/* homepage greeting */
#hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 3rem;
}

.intro {
  flex: 1 1 250px;
  padding-bottom: 3rem;
  z-index: 50;
  position:static;
}

.hero-image {
  flex:2 1 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 3rem;
}

.intro-image img {
  z-index: 20;
  position: relative;
  width: 90%;
  margin: 5% 5% 0 0;
}

.brown-box-div {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
  justify-content: flex-end;
}

.brown-box {
  background-color: #dcd0c0;
  z-index: -10;
  position: absolute;
  width: 375px;
  max-height:600px;
  height: 75%;
}

.greeting {
  font-size: 6rem;
  padding-bottom: 1rem;
}

/* homepage work section */
#showcase {
  position: relative;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;

  @media(min-width: 40rem) {
    width: 50%;
  }

  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__text {
  flex: 1 1 auto;
  margin-bottom: 1.25rem;
}

.card__image--stormcloud {
  background-image:url('img\stormcloud.png');
}

/* hero */

#stormcloud-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 3rem;
}

.case-study-intro {
  flex: 1 1 230px;
  padding-bottom: 3rem;
}

.case-study-image {
  flex:2 1 460px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3rem;
  z-index: 20;
  position: relative;
}

.case-study-image img {
  width:90%;
}



/* problem and solution */

#prob-solut {
  display: flex;
  flex-wrap:wrap;
}

.problem, .solution {
  flex: 1 1 350px;
}

.problem {
  padding: 3% 3% 0 0;
}

.solution {
  padding: 3% 0;
}

/* case study basic structure */

.case-study {

}

.chapter {
  display: flex;
  flex-wrap: wrap;
  gap:5%;
  padding: 5rem 0;
}

.title {
  flex:1 1 230px;
  padding: 0 5rem 5rem 0;
}

.content {
  flex:2 1 460px;
}

.topic {
  padding-bottom: 5rem;
}


.content-images {
  display: flex;
  flex-wrap: wrap;
}


.content-images li{
  flex: 1 1 250px;
  padding-right: 1rem;
}

.content-images img{
  width:100%;

}

.img-max img {
  width:100%;
}


#research {

}

#informational-arch {

}

#branding {

}

#design {

}

#conclusion {

}
